<header class="header header-6" style="margin: 10px;">
  <div>
    <button routerLink="/home" type="button"  style="margin-top: 10px; margin-left: 10px;" class="btn btn-icon btn-primary" aria-label="settings">
      <cds-icon shape="undo"></cds-icon>
    </button>
  </div>
  <form class="search">
      <label for="search_input">
          <input #box id="search_input" (keyup)="search(box.value)" type="text" placeholder="Search for keywords...">
      </label>
  </form>
</header>


<clr-datagrid>
  <clr-dg-column>Identifiant</clr-dg-column>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Image</clr-dg-column>
  <clr-dg-column>Détail</clr-dg-column>

  <clr-dg-row *ngFor="let launch of searchResults">
      <clr-dg-cell>{{launch.flight_number}}</clr-dg-cell>
      <clr-dg-cell>{{launch.name}}</clr-dg-cell>
      <clr-dg-cell><img style="width:40%; box-shadow: 1px 2px 3px whitesmoke;" [src]="launch.links.patch.small"></clr-dg-cell>
      <clr-dg-cell>{{launch.details | slice:0:90}}...</clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>