<button class="btn btn-primary" routerLink="/home">⬅️</button>
<!-- <table>
    <thead>
      <tr>
        <th>Identifiant</th>
        <th>Serial</th>
        <th>Status</th>
        <th>Type</th>
        <th>Last_Update</th>
      </tr>
    </thead>
    <tbody *ngFor="let capsule of capsules">
      <tr>
        <td>{{capsule.id}}</td>
        <td>{{capsule.serial}}</td>
        <td>{{capsule.status}}</td>
        <td>{{capsule.type}}</td>
        <td>{{capsule.last_update}}</td>
      </tr>
    </tbody>
  </table> -->
  
  <clr-datagrid>
    <clr-dg-column>Identifiant</clr-dg-column>
    <clr-dg-column>Serial</clr-dg-column>
    <clr-dg-column>Status</clr-dg-column>
    <clr-dg-column>Type</clr-dg-column>
    <clr-dg-column>Last_Update</clr-dg-column>

    <clr-dg-row *ngFor="let capsule of capsules">
        <clr-dg-cell>{{capsule.id}}</clr-dg-cell>
        <clr-dg-cell>{{capsule.serial}}</clr-dg-cell>
        <clr-dg-cell>{{capsule.status}}</clr-dg-cell>
        <clr-dg-cell>{{capsule.type}}</clr-dg-cell>
        <clr-dg-cell>{{capsule.last_update}}</clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>